<!-- js-draw-show -->
{% for agent in agent_list %}
    <div class="draw-unit draw-rank{{ agent.rank }}">
            <div class="draw-star">
                {{ agent.star }}
            </div>
            <div class="draw-img">
                <img src="http://118.89.158.235/static/ArkNights/img/agents/{{ agent.name }}.png">
            </div>
            <div class="draw-job">
                <img src="http://118.89.158.235/static/ArkNights/img/jobs/{{ agent.job }}.png">
            </div>
    </div>
{% endfor %}
<!-- js-stat-show -->
<p>寻访次数： <span id="js-draw-times">{{ agent_times }}</span></p>
<br>
<p>三星干员： <span id="js-agent-3">{{ agent_3 }}</span></p>
<p>四星干员： <span id="js-agent-4">{{ agent_4 }}</span></p>
<p>五星干员： <span id="js-agent-5">{{ agent_5 }}</span></p>
<p>六星干员： <span id="js-agent-6">{{ agent_6 }}</span></p>
<br>
<p>距上次出六星抽卡次数： <span id="js-agent-save">{{ agent_save }}</span></p>