{%extends "index.html" %}

{% block title %}
干员寻访模拟器 - 帽子的实验场
{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://118.89.158.235/static/ArkNights/css/draw.css">
{% endblock %}
 
{% block mainbody %}
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">干员寻访</div>
                <div class="draw-show">
                    {% for agent in agent_list %}
                        <div class="draw-unit draw-rank{{ agent.rank }}">
                                <div class="draw-star">
                                    {{ agent.star }}
                                </div>
                                <img src="http://118.89.158.235/static/ArkNights/img/agents/{{ agent.name }}.png">
                                <div class="draw-job">
                                    <img src="http://118.89.158.235/static/ArkNights/img/jobs/{{ agent.job }}.png">
                                </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="draw-button">
                    <button type="button" class="btn btn-default">寻访一次</button>
                    <button type="button" class="btn btn-warning">寻访十次</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
