{%extends "index.html" %}

{% block title %}
干员寻访模拟器 - 帽子的实验场
{% endblock %}

{% block css %}
<link rel="stylesheet" href="http://118.89.158.235/static/ArkNights/css/draw.css">
{% endblock %}

{% block js %}
<script src="http://118.89.158.235/static/ArkNights/js/draw.js"></script>
{% endblock %}
 
{% block mainbody %}
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">干员寻访</div>
                <div class="draw-show" id = "js-draw-show">
                </div>
                <div class="draw-button">
                    <button type="button" id="js-draw-1" class="btn btn-default">寻访一次</button>
                    <button type="button" id="js-draw-10" class="btn btn-warning">寻访十次</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">寻访统计</div>
                <div class="stat-show" id = "js-stat-show">
                    <p>寻访次数： <div id="js-draw-times"></div></p>
                    <br>
                    <p>三星干员： <div id="js-agent-3-times"></div></p>
                    <p>四星干员： <div id="js-agent-4-times"></div></p>
                    <p>五星干员： <div id="js-agent-5-times"></div></p>
                    <p>六星干员： <div id="js-agent-6-times"></div></p>
                    <br>
                    <p>距离上次出六星的抽卡次数： <div id="js-agent-save"></div></p>
                </div>
                <div class="clean-button">
                    <button type="button" id="js-clean" class="btn btn-info">重置统计</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">卡池选择</div>
                <div class="stat-show" id = "js-up-show">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">干员图鉴</div>
                <div class="stat-show" id = "js-manual-show">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
