<!DOCTYPE html>
<html>
<head>
  <title>首页 - 帽子的实验场</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/home/caproner/lib/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="/home/caproner/lib/jquery/3.4.1/jquery.min.js"></script>
  <script src="/home/caproner/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  	body
  	{
  		padding-top: 70px;
  		padding-bottom: 30px;
  	}
  </style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://118.89.158.235/index.html">帽子的实验场</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ArkNights<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://118.89.158.235/ArkNights/Draw/index.html">干员寻访模拟器（施工中）</a></li>
							<li class="disabled"><a href="#">公开招募计算器（计划中）</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用于参考的页面<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://118.89.158.235/ACup/index.html">Accepted Up!（原来的新OJ的UI示例）</a></li>
							<li><a href="http://118.89.158.235/scikit-learn-doc-zh">别人的sklearn文档</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>帽子的实验场</h1>
			<br>
			<p>さぁ、実験を始めようか！</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h2>计划表</h2>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">基础入门</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item-success">搭建服务器</li>
							<li class="list-group-item list-group-item-success">展示一个简单的欢迎页</li>
							<li class="list-group-item list-group-item-success">展示一个php的Hello World</li>
							<li class="list-group-item list-group-item-success">clone别人的项目移植到自己的机子上展示</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">ArkNights相关</div>
						<ul class="list-group">
							<li class="list-group-item list-group-item-warning">干员寻访模拟器</li>
							<li class="list-group-item list-group-item-danger">公开招募计算器</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="text-center">
	            <hr>
	            <p>Template for <a href="http://getbootstrap.com">Bootstrap</a>, by Caproner.</p>
	        </div>
	    </div>
	</div>
</body>
</html>
